/* #f0eceb /* light gray */
/* #729f98 /* gray-green */
/* #283018 /* black */
/* #aa863a /* ochre */

/******************************
  Element Styles
******************************/

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: #f8f8f8; /* light gray */;
  font-family: 'Montserrat', sans-serif;
}


/******************************
  Basic Layout Styles
******************************/

/* home section */
.main-header,
.home-section {
  padding: 1px;
  text-align: center;
  width: 100%;
}

.name,
h2,
p {
  color: #5f5f5f;
  padding-top: .5em;
  padding-bottom: .5em;
}

.main-nav {
  padding: 0;
}

.main-nav li {
  margin-top: .3em;
}

.main-nav li a {
  display: block;
  background-color: white;
  padding: 10px 15px;
  color: #5f5f5f;
  font-size: 1.2em;
  font-weight: bold;
}

.profile-image {
  width: 75%;
  margin-top: 1.5em;
}

.home-section {
  margin-top: 0em;
  padding: 1em;
}

.home-section p {
  color: #9f9f9f;
  font-size: 1.4em;
  line-height: 1.4em;
}

.container {
  padding: 0 1em;
}

/* portfolio section mobile */
.portfolio-section {
  text-align: center;
  background-color: white;
  max-width: 100%;
  padding: 1em 2em;
}

.portfolio-section .subheader {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

.portfolio-section img {
  width: 100%;
}

.portfolio-item p {
  line-height: 1.2em;
  font-size: 1.4em;
}

/* contact section mobile */
.contact-section {
  text-align: center;
}

.contact-section p {
  font-size: 1.4em;
  line-height: 1.7em;
}

.heavy {
  font-weight: bold;
}

.contact-section .container {
  padding: 6em 1em 2em 1em;
}

/* skills section mobile */



.skills-section .container {
  background-color: #B2968A;
  border-radius: 5px;
  padding: 6em 0;
}

.skills-section .col {
  padding: .2em 2em;
}

.skills-section img {
  width: 100%;
}

.skills-section p {
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  text-align: left;
}


.skills-section h2 {
  color: #283018 /* black */;
  text-align: center;
  margin-bottom: 2em;
  color: white;
  font-size: 2em;
}

.skills-section .col {
  text-align: center;
}






/* footer section mobile */
.main-footer .container {
  width: 95%;
  margin: 0 auto;
  padding: 2em 1em;
  border-top: 2px solid lightgray;
}

.main-footer h2 {
  float: left;
  font-size: 1em;
}

.back-to-top a {
  font-size: .9em;
  float: right;
  margin-top: 1em;
  font-weight: bold;
  color: #5f5f5f;
}

.footer-nav {
  display: none;
}







/******************************
  Helper Classes
******************************/

.clearfix {
  content: "";
  display: table;
  clear: both;
}



/******************************
  Media Queries
******************************/

@media (min-width: 768px) {
  
  
  .container {
    max-width: 90%;
    margin: 0 auto;
    padding: 0;
  }
  
  .main-nav li {
    display: inline-block;
  }
  
  .main-nav li a {
    background-color: #f8f8f8;
  }
  
  .profile-image {
    float: right;
    width: 45%;
    margin-top: 0em;
    margin-bottom: 3em;
    margin-left: 2em;
  }
  
  .home-section p {
    text-align: left;
    margin-top: 0;
    padding-top: 0;
  }
  
  /* portfolio section tablet */
  
  .subheader {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }
  
  .portfolio-section {
    margin: 0;
    padding: 0;
  }
  
  .portfolio-item {
    width: 50%;
    padding-left: 1%;
    padding-right: 1%;
    float: left;
    padding-bottom: 2em;
  }
  
  .portfolio-item p {
    font-size: 1.4em;
  }
  
  .portfolio-item:nth-child(2n+2) {
    clear: left;
  }
  
  /* skills section tablet */
  
  .skills-section .container {
    margin-top: 2em;
    padding: 2em;
  }
  .skills-section .col {
    padding: 3em 1em;
    background-color: #f0eceb /* light gray */;
    margin: 1em 1%;
    border-radius: 15px;
  }
  
  .skills-section .col.primary {
    background: #cfcfcf;
  }
  
  .skills-section p {
    font-size: 1.1em;
    font-weight: bold;
    color: #888;
  }
  
  .skills-section h2 {
    color: white;
  }
  
  /* contact section tablet */
  
  .contact-section .container {
    padding: 1em 1em 4em 1em;
  }
  
  /* footer section tablet */
  .back-to-top {
    display: none;
  }
  
  .footer-nav {
    display: inline;
  }
  
  .footer-nav {
    float: right;
  }
  
  .footer-nav li {
    float: left;
    margin-left: 2em;
  }
  
  .footer-nav li a {
    font-weight: bold;
    color: #5f5f5f;
  }
  
}

@media (min-width: 1024px) {
  /* portfolio section tablet */
  
  .name {
    float: left;
    padding: 0;
  }
  
  .main-nav {
    float: right;
  }
  
  .portfolio-section {
    background-color: transparent;
  }
  
  .portfolio-section p {
    font-size: 1.2em;
  }
  
  .container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
  }
  
  .home-section p {
    font-size: 1.6em;
  }
  
  .portfolio-section .container {
    background-color: #729f98 /* gray-green */;
    padding-bottom: 2em;
    border-radius: 5px;
  }
  
  .portfolio-item {
    width: 30.333%;
    height: 430px;
    margin-left: 2%;
    margin-top: 2%;
    padding-left: 1%;
    padding-right: 1%;
    float: left;
    border: 1px solid coral;
    background-color: white;
    border-radius: 15px;
    padding: 1em;
  }
  
  .portfolio-item:hover {
    width: 32.333%;
    height: 433px;
    margin-top: 1%;
    margin-bottom: -1%;
    margin-left: 1%;
    margin-right: -1%;
    box-shadow: 10px 10px 10px rgba(0,0,0,.4);
    color: red;
  }
  
  .portfolio-item:nth-child(2n+2) {
    clear: none;
  }
  
  .portfolio-item:nth-child(3n+2) {
    clear: left;
  }
  
  /* skills section desktop */
  .skills-section .col {
    float: left;
    padding: 1em;
  }
  
  .col.primary {
    width: 44%;
  }
  
  .col.secondary {
    width: 52%;
  }
  
  .skills-section h2{
    
  }
  
  
  
  
  
  
  
}












